* {
  margin: 0;
  padding: 0;
  font-family: "UnifrakturCook";
}
body {
  background-color: black;
}
header {
  display: flex;
  width: 100%;
  padding-top: 10px;
}
nav {
  width: 40%;
  padding-top: 40px;
  font-size: 30px;
  display: flex;
}
.nav-left {
}
.nav-right {
}
nav > a {
  text-decoration: none;
  text-align: center;
}
nav > a > img {
  height: 100px;
}
.language {
  right: 10vw;
}
.logo {
  display: flex;
  width: 20%;
}
.logo > img {
  width: 300px;
}
.dropdown {
  display: inline-block;
  position: relative;
}
.dropdown-content {
  display: none;
  position: absolute;
  width: 100%;
  overflow: auto;
  box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.4);
}
.dropdown:hover .dropdown-content {
  display: block;
}
.dropdown-content a {
  display: block;
  color: #000000;
  padding: 5px;
  text-decoration: none;
}
.dropdown-content a:hover {
  color: #ffffff;
  background-color: #00a4bd;
}
